<div id="modal" class="m0 p0">
  <%= render partial:'shared/modals/header', locals:{
      title: "Update Definition",
      sub_title: ""
  }%>
  <div class="px4 py2">
    <%= render partial: 'form', locals: { submit_value: "Update", support: support, translation: translation } %>
  </div>
</div>
