<%= render partial: 'shared/title', locals: {title: @support.name, title_tag_is_defined: true, is_support_title:true} %>

<%= render partial: 'form', locals: {submit_value: "Modifier", index_page: false} %>
<div class="row">
  <%= link_to support_translations_path(@support), class: 'translation-link-bottom' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Retour aux traductions
  <% end %>
</div>