<div class="col col-12 center">
  <p class="col col-3"><%= @support.sourceLanguage.name %></p>
  <p class="col col-3"><%= @support.targetLanguage.name %></p>
  <p class="col col-3">Contexte</p>
  <p class="col col-3"></p>
</div>
<%= render partial: 'form', locals: { submit_value: "Update" } %>
<div>
  <%= link_to 'Back to translations', support_translations_path(@support) %>
</div>
