<%= render partial: 'shared/title', locals: {title: @support.name, title_tag_is_defined: true, is_support_title: true} %>

<%= render partial: 'form', locals: {submit_value: "Créer traduction", index_page: true} %>
<div class="row">
    <%= link_to 'javascript:;', "data-translation_form" => "show" do %>
        <span class="glyphicon glyphicon-plus"></span> Ajouter une traduction
    <% end %>
</div>