<% if title_tag_is_defined %>
    <% content_for :head do %>
        <title>Recall - <%= title %></title>
    <% end %>
<% end %>
<div class="row">
    <% if is_support_title %>
    <% #TODO make the icons dynamic %>
        <h3><span class="glyphicon glyphicon-music"></span> <%= title %></h3>
    <% else %>
        <h5><strong><%= title %></strong></h5>
    <% end %>
</div>