<% if title_tag_is_defined %>
    <% content_for :head do %>
        <title>Recall - <%= title %></title>
    <% end %>
<% end %>
<div class="row">
    <% if is_support_title %>
        <h3><span class="<%= @support.media_type.icon %>"></span> <%= title %></h3>
    <% else %>
    	<h5><strong><%= title %></strong></h5>
    <% end %>
</div>