<div class="py1 flex justify-center">
  <% for i in 1..5 %>
    <% if i <= support.mark %>
      <div>
        <i class="h1 ion-star text-yellow pr1"></i>
      </div>
    <% else %>
      <div>
        <i class="h1 ion-ios-star-outline text-text pr1"></i>
      </div>
    <% end %>
  <% end %>
</div>
