<div class="col col-12">
  <% @supports.each do |support| %>
    <div class="p2 col col-3">
     <%= link_to support_translations_path(support) do %>
        <div class="center border border-orange">
          <div class="h2 text-black"><%= support.name %></div>
          <div><i class="h1 <%= MediaType::ICONS[support.media_type.name] %> text-black"></i></div>
          <div class="py1">
            <% for i in 1..5 %>
              <% if i <= support.mark %>
                <i class="h1 ion-star text-yellow"></i>
              <% else %>
                <i class="h1 ion-ios-star-outline text-text"></i>
              <% end %>
            <% end %>
          </div>
          <%= link_to support_reviews_path(support), method: :post, remote: true do %>
            <div class="border py1 bg-white">
              <span class="h3 text-orange">Review</span>
            </div>
          <% end %>
          <div class="border py1 bg-white">
            <span class="h3 text-orange">Update</span>
          </div>
          <div class="border py1 bg-white">
            <span class="h3 text-orange">Archive</span>
          </div>
          <div class="border py1 bg-white">
            <span class="h3 text-orange">Delete</span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

