<div>
  <h1 class="center"><%= appreciation %></h1>
  <div class="center pb2">
    <% if answer.correct? %>
      <i class="ion-checkmark-circled text-green h1"></i>
    <% else %>
      <i class="ion-close-circled text-ruby h1"></i>
    <% end %>
  </div>
</div>