<div id="modal" class="modal" style="display:none;">
  <div>
    <h1><%= Teacher.am_i_right?(@answer) %></h1>

    <% if Question::QuestionAsker.finish?(@review) %>
      <p>C'est fini!</p>
    <% else %>
      <%= link_to 'Question Suivante', new_review_answer_path(@review), remote: :true %>
    <% end %>
  </div>
</div>
