<div class="max-width-4 mx-auto clearfix px2 border">
  <h1 class="h2 center border">Topics</h1>
  <% support.supports.each do |topic|%>
    <% if @support.id == topic.id %>
      <% background = 'bg-navy' %>
      <% text = 'text-white' %>
    <% else %>
      <% background = 'bg-orange' %>
      <% text = 'text-white' %>
    <% end %>
    <%= link_to support_translations_path(topic), class: "#{text} center #{background} py1 mb1 block" do %>
      <%= topic.name %>
    <% end %>
  <% end %>
</div>