$base-font-size:           14px;
$base-line-height:         1.8;
$text-font:                'Work Sans', sans-serif;
$admin-font:               'Lato', sans-serif;
$headline-font:            'Lora', serif  !default;;
$logo-font:                'Roboto Slab', serif  !default;;

