@import 'variables/colours';

//  Background Colors
.bg-orange { background: $orange; }
.bg-blue    { background: $accent-blue; }
.bg-navy    { background: $accent-navy; }
.bg-pink    { background: $pink; }
.bg-cloud   { background: $cloud; }
.bg-ruby    { background: $ruby; }
.bg-aqua    { background: $aqua; }
.bg-blue    { background: $blue; }
.bg-baby    { background: $baby; }
.bg-bare    { background: $bare; }
.bg-cool    { background: $cool; }
.bg-navy    { background: $navy; }
.bg-fake    { background: $fake; }
.bg-grey    { background: $grey; }
.bg-light-grey  { background: $light-grey; }
.bg-event   { background: $event; }
.bg-base    { background: $base; }
.bg-iron    { background: $iron; }
.bg-text    { background: $text; }
.bg-tint    { background: $tint; }
.bg-marine  { background: $marine; }
.bg-blend  { background: $blend; }
.bg-coal    { background: $coal; }
.bg-dust    { background: $dust; }
.bg-veil    { background: $veil; }
.bg-white   { background: $white; }
.bg-space   { background: $space; }
.bg-green   { background: $green; }
.bg-action  { background: $action; }
.bg-success { background: $success;}
.bg-customer { background: $customer; }
.bg-wolf     { background: $wolf; }
.bg-chimp    { background: $chimp; }
.bg-rabbit   { background: $rabbit; }
.bg-mouse    { background: $mouse; }
.bg-seal     { background: $seal; }
.bg-super_hot_lead{ background: $super-hot; }
.bg-hot_lead      { background: $hot; }
.bg-lead     { background: $lead; }
.bg-cold_lead    { background: $cold; }
.bg-light-aqua    { background: $light-aqua; }
.bg-yellow    { background: $yellow; }
.bg-purple    { background: $purple; }
.bg-off-white    { background: $off-white; }
.bg-royal-blue { background: $royal-blue; }
.bg-ocean-blue { background: $ocean-blue; }
.bg-green-translucent { background: $green-translucent; }
.bg-blue-translucent { background: $blue-translucent; }
