// Place all the styles related to the Supports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.data-row-support:hover
{
    background-color:white;
}

.data-row-support-name
{
    color:black;
}

.data-row-support-name:hover, .title_media_archived:hover
{
color:#ef6c35;
}

.support-size
{
font-size:12px;
color:#9a9b94;
}

.title_media_archived
{
	color:black;
}
