// Place all the styles related to the Translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-translation-form {
    width: 100%;
}

.add-translation-form
{
    display:none;
}

.data-row-translation
{
    border-bottom:1px #d4d6c8 solid;
    padding-top:10px;
    padding-bottom:10px;
}

.form-group-translation
{
margin-top: 5px;
}

.form-group-translation-button
{
    margin-top: 5px;
}

.form-group-translation-button .btn, .form-group-translation-button .btn:active
{
    border:0;
    background-color: #ef6c35;
}

.translation-link-bottom, .translation-link-bottom:hover, .form-group-translation-button-cancel, .form-group-translation-button-cancel:hover
{
    color: #ef6c35;
}
