<div>
  <p class="center">Congratulations! You have finished this revision.</p>
  <%= render partial: 'home/mark', locals: { support: review } %>
  <div class="flex justify-between">
    <div>
      <%= link_to 'Start Again', support_reviews_path(review.support, what_to_study: "all"), method: :post, remote: true, class:'btn btn-orange block center' %>
    </div>
    <div>
      <% if Reviews::IncorrectAnswerFetcher.process(review).present? %>
        <%= link_to 'Fix my mistakes!', support_reviews_path(review.support, what_to_study: "mistaken"), method: :post, remote: true, class:'btn btn-orange block center' %>
      <% end %>
    </div>
  </div>

  <div class="mt2">
    <%= link_to '#', class: 'btn btn-outline-orange close_button block fullwidth' do %>
      <div class="center">Close</div>
    <% end %>
  </div>
</div>